@use "@/common/styles/colors" as *

.consistency-container
  display: flex
  flex-direction: column
  gap: 1rem
  justify-content: center
  width: 100%

.consistency-item
  display: flex
  justify-content: space-between
  align-items: center

.consistency-item svg
  width: 2rem
  height: 2rem

.consistency-item .consistency-info h2
  color: $white
  margin: 0
  font-size: 0.875rem
  font-weight: 600

.consistency-item .consistency-info p
  margin: 0
  font-weight: 600
  font-size: 1rem

.consistency-item .consistency-info .consistency-detail
  color: $subtext
  font-size: 0.75rem
  font-weight: 500
  display: block
  margin-top: 0.125rem
